modules = ["nodejs-20", "web", "javascript", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0", "stripe:1.0.0", "resend:1.0.0", "spotify:1.0.0"]

[userenv]

[userenv.shared]
TADDY_USER_ID = "4391"
TADDY_API_KEY = "2dcf81ccd9b7084b41d3e2b20621041543c52a7a878ec3c11cfb1c3f79f6fd00f50b6d7e8b7a3cd79e22bc44fb3075c8e2"
SPOTIFY_CLIENT_ID = "8f95b5d0c7004b66956b292020f84d41"
SPOTIFY_CLIENT_SECRET = "312a79739b2043bc90a01a334c4a3dd4"
LOGO_DEV_API_KEY = "sk_CSrDqOmrRkKrzjT7r5rNgg"
LOGO_DEV_PUBLIC_KEY = "pk_LXNkoTXrTpe8BARnvuKgHA"
GOOGLE_CLIENT_ID = "57857649690-5p6r4vm6a9q8ve014vgbdjt151o29o8s.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"

[userenv.production]
DEV_DATABASE_URL = "postgresql://postgres:password@helium/heliumdb?sslmode=disable"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[[ports]]
localPort = 5000
externalPort = 80
